<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="qAcProviderTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <qAcProviderTest.Properties.Settings>
            <setting name="FormSize" serializeAs="String">
                <value>1336, 1046</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </qAcProviderTest.Properties.Settings>
    </userSettings>
</configuration>